* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
  list-style: none;
}

:root {
  --white: #f4f4f4;
  --black: #000;
  --primary: #493D9E;
  --secondary: #B2A5FF;
  --secondary-gradient: #DAD2FF;
  --tertiary: #FFF2AF;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--black);
  color: var(--white);

  font-size: 16px;
}
header {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primary);
  padding: 0.2rem 2rem;
  border-bottom: 0.01px solid var(--secondary);
}

header nav button {
  padding: 1rem;
  font-size: 24px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

header nav button:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

#container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  
  height: 90vh;
  width: 90vw;
  background-color: var(--black);
  margin: 1rem 2rem;
}

#container > * {
  display: flex;
  flex: 1;
  height: 6vh;
}

.square {
  flex: 1;
  background-color: var(--white);
  color: var(--white)
}